{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
	</head>
	<body>
		{{ template "form" . }}
		<hr />
		{{ template "display" . }}
	</body>
</html>
{{ end }} {{ block "form" . }}
<form>
	<label>Name: <input type="text" name="name" /></label>
	<label>Email: <input type="email" name="email" /></label>
</form>
{{end}} {{block "display" .}}
<div style="display: flex; flex-direction: column">
	{{range .Contacts}}
	<div>
		<p>Name: <span> {{.Name}} </span></p>
		<p>E-mail: <span> {{.Email}} </span></p>
	</div>
	{{end}}
</div>
{{end}}
